/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/Chromaprint.AssemblyInfo.cs
/obj/Debug/net8.0/Chromaprint.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Chromaprint.assets.cache
/obj/Debug/net8.0/Chromaprint.csproj.AssemblyReference.cache
/obj/Chromaprint.csproj.nuget.dgspec.json
/obj/Chromaprint.csproj.nuget.g.props
/obj/Chromaprint.csproj.nuget.g.targets
/obj/Debug/net8.0/Chromaprint.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/Chromaprint.GlobalUsings.g.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
